<div class="git-log-item">
  <span class="date"><%= git_log.commit.author.date %></span>
  <span class="author"><%= git_log.commit.author.name %></span>
  <span class="sha"><%= git_log.sha %></span>
  <p class="message"><%= git_log.commit.message %></p>
</div>
