// Place all the styles related to the issues_in_play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jira-column {
  width: 250px;
  vertical-align: top;
  display: inline-block;
}

.jira-issue {
  border: 1px solid #cccccc;
  padding: 3px;
  margin: 3px;
}

.jira-issue .status {
  font-style: italic;
  font-size: 0.9em;
  float: right;
}

.author {
  font-style: italic;
  font-weight: bold;
}

.git-log-item {
  border: 1px solid #cccccc;
  padding: 1px;
  margin: 1px;
}
