<!DOCTYPE html>
<html>
  <head>
    <title>EverydayHeroHub</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="#">Hub</a>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
